<p>Product Name: <%= @product.name %></p>
<p>Category: <%= @category.name %></p>
<p>Description: <%= @product.description %></p>
<p>In Stock: <%= @product.stock_quantity %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>